

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#constraints input{
 display: inline-block;
 width: 25%;
 margin: 10px;

}

#constraints label{
font-size: 14px;
position: relative;

}

















